<div class="row">
    <!-- VIVIENDA -->
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
               JAEN <br> Cazorla (23470) 
            </div>
            <div class="panel-body">                                            
                    <p><b>Ref: </b>0159711WG0905N0001FU 
                    <br><b>Emplazamiento:</b>Calle ANGEL Nº 23 Puerta A
                    <br><b>Clase:</b>Urbano
                    <br><b>Uso:</b>Residencial
                    <br><b>Superficie:</b>250 m2</p>
                    <a href="https://www1.sedecatastro.gob.es/Cartografia/mapa.aspx?refcat=9471401WJ9197A" target="_blank">Visualizar en Catastro</a> 
                </dl>
            </div>
            <div class="panel-footer">
                <button type="button" class="nodo-vivienda btn btn-primary btn-circle"  id="0159711WG0905N0001FU"><i class="fa fa-link"></i></button> 2 Expedientes Asociados
            </div>
        </div>
    </div>
     <!-- VIVIENDA -->
     <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                ALBACETE <br> Albacete (02001) 
             </div>
            <div class="panel-body">                                            
                    <p><b>Ref: </b>0159711WG0905N0001FU 
                    <br><b>Emplazamiento:</b>Calle ANGEL Nº 23 
                    <br><b>Clase:</b>Urbano
                    <br><b>Uso:</b>Residencial
                    <br><b>Superficie:</b>250 m2</p>
                    <a href="https://www1.sedecatastro.gob.es/Cartografia/mapa.aspx?refcat=9471401WJ9197A" target="_blank">Visualizar en Catastro</a> 
                </dl>
            </div>
            <div class="panel-footer">
            Ningún Expediente
            </div>
        </div>
    </div>
     <!-- VIVIENDA -->
     <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
               JAEN <br> Cazorla (23470) 
            </div>
            <div class="panel-body">                                            
                    <p><b>Ref: </b>0159711WG0905N0001FU 
                    <br><b>Emplazamiento:</b>Calle gabriel Nº 23 
                    <br><b>Clase:</b>Urbano
                    <br><b>Uso:</b>Residencial
                    <br><b>Superficie:</b>250 m2</p>
                    <a href="https://www1.sedecatastro.gob.es/Cartografia/mapa.aspx?refcat=9471401WJ9197A" target="_blank">Visualizar en Catastro</a> 
                </dl>
            </div>
            <div class="panel-footer">
                <button type="button"  id="0159711WG0905N0001FU" class="nodo-vivienda btn btn-primary   btn-circle btn-xs"><i class="fa fa-link"></i></button> 2 Expedientes Asociados
            </div>
        </div>
    </div>
</div>
<div class="row">
     <!-- VIVIENDA -->
     <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                CIUDAD REAL <br> Valdepeñas (13600) 
             </div>                   
            <div class="panel-body">                                            
                    <p><b>Ref: </b>4563901TP6246S0411EI 
                    <br><b>Emplazamiento:</b>CL ALCALDE SUAREZ DEL VILLAR 4 Es:1 Pl:01 Pt:O
                    <br><b>Clase:</b>Urbano
                    <br><b>Uso:</b>Residencial
                    <br><b>Superficie:</b>250 m2</p>
                    <a href="https://www1.sedecatastro.gob.es/Cartografia/mapa.aspx?refcat=4563901TP6246S0411EI" target="_blank">Visualizar en Catastro</a> 
                </dl>
            </div>
            <div class="panel-footer">
                 <button type="button" class="btn btn-primary   btn-circle"><i class="fa fa-link"></i></button> 2 Expedientes Asociados
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary   btn-circle"><i class="fa fa-book"></i></button> Libro del Edificio Existente
            </div>
        </div>
    </div>
     <!-- VIVIENDA -->
     <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
               JAEN <br> Cazorla (23470) 
            </div>
            <div class="panel-body">                                            
                    <p><b>Ref: </b>0159711WG0905N0001FU 
                    <br><b>Emplazamiento:</b>Calle ANGEL Nº 23 Puerta A
                    <br><b>Clase:</b>Urbano
                    <br><b>Uso:</b>Residencial
                    <br><b>Superficie:</b>250 m2</p>
                    <a href="https://www1.sedecatastro.gob.es/Cartografia/mapa.aspx?refcat=9471401WJ9197A" target="_blank">Visualizar en Catastro</a> 
                </dl>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary   btn-circle"><i class="fa fa-link"></i></button> 2 Expedientes Asociados
            </div>
        </div>
    </div>
     <!-- VIVIENDA -->
     <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
               JAEN <br> Cazorla (23470) 
            </div>
            <div class="panel-body">                                            
                    <p><b>Ref: </b>0159711WG0905N0001FU 
                    <br><b>Emplazamiento:</b>Calle ANGEL Nº 23 Puerta A
                    <br><b>Clase:</b>Urbano
                    <br><b>Uso:</b>Residencial
                    <br><b>Superficie:</b>250 m2</p>
                    <a href="https://www1.sedecatastro.gob.es/Cartografia/mapa.aspx?refcat=9471401WJ9197A" target="_blank">Visualizar en Catastro</a> 
                </dl>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary   btn-circle"><i class="fa fa-link"></i></button> 2 Expedientes Asociados
            </div>
        </div>
    </div>
</div>
<div class="row">
     <!-- VIVIENDA -->
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
               JAEN <br> Cazorla (23470) 
            </div>
            <div class="panel-body">                                            
                    <p><b>Ref: </b>0159711WG0905N0001FU 
                    <br><b>Emplazamiento:</b>Calle ANGEL Nº 23 Puerta A
                    <br><b>Clase:</b>Urbano
                    <br><b>Uso:</b>Residencial
                    <br><b>Superficie:</b>250 m2</p>
                    <a href="https://www1.sedecatastro.gob.es/Cartografia/mapa.aspx?refcat=9471401WJ9197A" target="_blank">Visualizar en Catastro</a> 
                </dl>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary   btn-circle"><i class="fa fa-link"></i></button> 2 Expedientes Asociados
            </div>
        </div>
    </div>
</div>